{% load static %}
{% load solo_tags %}
{% get_solo 'cms.Site' as site_config %}
<header>
    <div class="wrapper">
        <a class="logo" href="{% url 'home' %}"><img src="{% static "img/logo.svg" %}" alt="illic"></a>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="#contact"><i class="fa fa-phone" aria-hidden="true"></i> Agendar Cita</a></li>
                <li><a href="{% url 'entry-list' %}">Blog</a></li>
                <li><a href="{{ site_config.twitter }}"><i class="fa fa-twitter"></i></a></li>
                <li><a href="{{ site_config.facebook }}"><i class="fa fa-facebook"></i></a></li>
            </ul>
        </nav>
    </div>
</header>
