[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto = "*"
Django = "*"
django-admin-sortable = "*"
django-ckeditor = "*"
django-environ = "*"
django-filter = "*"
django-solo = "*"
django-storages = "*"
django-taggit = "*"
django-uuslug = "*"
greenlet = "*"
msgpack-python = "*"
olefile = "*"
Pillow = "*"
python-slugify = "*"
pytz = "*"
six = "*"
Unidecode = "*"
"psycopg2-binary" = "*"

[dev-packages]

[requires]
python_version = "3.7"
