boto==2.47.0
Django==1.11.2
django-admin-sortable==2.1
django-ckeditor==5.2.2
django-environ==0.4.3
django-solo==1.1.2
django-storages==1.5.2
msgpack-python==0.4.8
neovim==0.1.13
Pillow==4.1.1
psycopg2==2.7.1
