h1
h2
h3
h4
h5
    font-family $font-titles
h1
    margin 0 auto 20px auto
    font-size 2.0em
h2
    margin 0 auto 20px auto
    font-size 1.8em
h3
    margin 0 auto 20px auto
    font-size 1.6em
p
    margin auto
    font-size 1.3em
    margin 20px 0 0 0
    line-height 1.4em
    font-style italic
    &:fist-of-type
        margin 0

a
    color $gray
    transition color 0.2s ease
    text-decoration none
    &:hover
    &.active
        color $black

.wrapper
    width 90%
    display block
    margin auto
.margin
    display block
    height 1px
    width 100%
    margin 39px 0 0 0

.center
    margin auto
    text-align center
