@import 'nib/gradients'

$colorFg = #000000
$colorBg = #ffffff

$gray = #888888
$dark-gray = #323b3c
$white = #ffffff
$gray1 = #f0f0f0
$gray2 = #e3e3e3
$gray3 = #999999
$gray4 = #666666
$gray5 = #333333
$gray6 = #0f0f0f
$black = #000000

$color-text-purple = #515056
$purple = #9aa1e9

$gradient-green = linear-gradient(top, #5fcaa0, #51cac3)
$gradient-yellow = linear-gradient(top, #f4b47b, #f2d76a)
$gradient-purple = linear-gradient(top, #be74ec, #e564eb)
$gradient-blue = linear-gradient(top, #74ceec, #649beb)
$gradient-when = linear-gradient(left, #32c3c4, #24afc9)
