$ipad-width = 2048px
$iphone-width = 1024px

$small-width = 500px
$medium-width = 800px
$big-width = 1000px

$border-radius = 30px

$max-width-content = 600px

$margin = 20px
$double-margin = 40px
$half-margin = 10px
