{% extends "base.html" %}
{% load solo_tags %}
{% load static %}
{% block content %}
<section class="small-therapy">
    <div class="wrapper">
        <img class="white-logo" src="{% static "img/logo-big.svg" %}" alt="Illic">
        <div class="small-therapy-container">
            {% for item in list %}
            <article class="{{item.slug}}">
                <a href="#{{item.slug}}">
                    <div class="image-container">
                        <img src="{{ item.image.url }}" alt="{{ item.title }}">
                    </div>
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.small_text }}</p>
                </a>
            </article>
            {% endfor %}
        </div>
    </div>
    <div class="margin"></div>
</section>
<section class="who text-info">
    <div class="margin"></div>
    <div class="wrapper">
        <img src="{{ single.who_image.url }}" alt="¿Quiénes Somos?">
        <article>
            <h2>¿Quiénes somos?</h2>
            <div class="rich-text">{{ single.who | safe }}</div>
        </article>
    </div>
    <div class="margin"></div>
</section>
<section class="when text-info">
    <div class="wrapper">
        <img src="{{ single.when_image.url }}" alt="¿Cuándo acudir a Terapia?">
        <article>
            <h2>¿Cuándo acudir a Terapia?</h2>
            <div class="rich-text">{{ single.when | safe }}</div>
        </article>
    </div>
    <div class="margin"></div>
    <div class="margin"></div>
</section>

{% for item in list %}
<section class="big-terapia text-info {{item.slug}}" id="{{item.slug}}">
    <div class="wrapper">
        <img src="{{ item.large_image.url }}" alt="¿Cuándo acudir a Terapia?">
        <article>
            <h2>{{ item.title }}</h2>
            <div class="rich-text">{{ item.text | safe }}</div>
        </article>
    </div>
    <div class="margin"></div>
    <div class="margin"></div>
</section>
{% endfor %}
{% if True %}
<section id="contact">
    <div class="margin"></div>
    <div class="wrapper">
        <div class="contact">
            <div class="border-gradient">
                <a href="tel:{{ single.phone }}">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>Llámanos y agendamos tu terapia.</span>
                </a>
            </div>
            <div class="border-gradient">
                <a href="mailto:{{ single.email }}">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <span>Escríbenos a {{ single.email }}</span>
                </a>
            </div>
        </div>
        <div class="margin"></div>
        <h2 class="center">Ciudad de México</h2>
        <div class="therapist-container">
            {% for item in list_therapist %}
            <article>
                <img class="avatar" src="{{ item.image.url }}" alt="{{ item.slug }}">
                <!-- <a href="{{ item.google_maps }}" target="_blank"><img src="{% static "img/pin.svg" %}" alt="google_maps"></a> -->
                <div class="info">
                    <p>Terapeuta</p>
                    <p>{{ item.title }}</p>
                    <p><a href="{{ item.google_maps }}" target="_blank">{{ item.address }}</a></p>
                    <p><a href="tel:{{ item.phone }}">{{ item.phone }}</a></p>
                </div>
            </article>
            {% endfor %}
        </div>
        <div class="margin"></div>
        <p class="center">{{ single.message }}</p>
        <div class="margin"></div>
        <div class="margin"></div>
    </div>
</section>
{% endif %}
{% endblock %}
