header
    background white
    height 200px
    width 100%
    .wrapper
        display flex
        flex-flow row wrap
        align-items center
        justify-content space-between
    a.logo
        display block
        height 100%
        width 20%
        img
            display block
            height 100%
            width auto
    nav
        display block
        height 100%
        width 40%
        ul
            display flex
            flex-flow row wrap
            align-items center
            justify-content space-between

