header
    background white
    height 100px
    width 100%
    @media screen and (max-width: $medium-width)
        height auto
    .wrapper
        height 100%
        display flex
        flex-flow row wrap
        align-items center
        justify-content space-between
    a.logo
        display block
        width 20%
        margin 0
        @media screen and (max-width: $medium-width)
            width 50%
            margin 20px auto 20px auto
        img
            display block
            width 100%
            height auto
    nav
        display block
        width 40%
        margin 0
        @media screen and (max-width: $medium-width)
            margin 0 auto 20px auto
            width 100%
        ul
            display flex
            flex-flow row wrap
            align-items center
            justify-content space-between
