.rich-text
    margin: $double-margin auto $double-margin auto
    p
        font-style normal
        font-size 1.1em
    strong
        font-weight bold
        color $black
    ol
    ul
        li:not(:last-child)
            margin 0 0 $half-margin 0
        li
            line-height 1.6em
    ol
        background whitesmoke
        list-style decimal
        white-space normal
        padding $half-margin $double-margin $half-margin $double-margin

    ul
        margin $margin 0 $margin 0
        padding-left $margin
        li
            &:before
                content: '- '
            @media screen and (max-width: $mobile-width)
                width 100%
