.small-therapy
    width 100%
    background-color #3a84a1
    background-size cover
    background-image url('../img/top-background.png')
    padding $double-margin 0 0 0
    img
        width 100%
        height auto
        display block
        margin auto
    .white-logo
        width 50%
        max-width 350px
        height auto
        display block
        margin 0 auto $margin auto
    div.small-therapy-container
        display flex
        flex 1
        flex-flow row wrap
        align-content stretch
        justify-content space-between
        margin auto
        @media screen and (max-width: $big-width)
            max-width none
        @media screen and (max-width: $medium-width)
            max-width $max-width-content
        @media screen and (max-width: $small-width)
            max-width none
        p
            color $color-text-purple
            font-size 1.0em
        article
            width calc(100% / 4 - 20px)
            border-radius $border-radius
            padding $margin
            box-sizing border-box
            text-align center
            display flex
            flex-flow column no-wrap
            margin $margin 0 0 0
            @media screen and (max-width: $big-width)
                p
                    font-size 0.8em
            @media screen and (max-width: $medium-width)
                width calc(100% / 2 - $margin)
                p
                    font-size 1.0em
            @media screen and (max-width: $small-width)
                width 100%
                p
                    font-size 1.0em
        .image-container
            margin 0 auto $margin auto
            background-color white
            border-radius 50%
            padding $half-margin
            box-sizing border-box
            width 50%
            display block
            img
                width 100%
                height auto
                display block
        h3
            color white
            margin 0 auto $half-margin auto

.terapia-familiar
    background $gradient-green
.terapia-infantil
    background $gradient-yellow
.terapia-de-pareja
    background $gradient-purple
.terapia-individual
    background $gradient-blue
