.therapist-container
    width 50%
    margin auto
    margin $double-margin auto $double-margin auto
    @media screen and (max-width: $medium-width)
        width 100%
    article
        margin 0 auto $double-margin auto
        display flex
        flex-flow row wrap
        &:last-child
            margin 0 auto 0 auto
    a
        color $purple
        text-decoration underline
    p
        margin auto
    .info
        margin 0 0 0 $margin
    .avatar
        width 100px
        height 100px
        /* padding 20% 0 0 0 */
        background $purple
        border-radius 50%
